@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lusitana&display=swap');
:root
{
    --bg-color:black;
    --text-color:white;
    --link-color:blue;
    --description-color:gray;
    --description-bg-color:dimgrey;
    --primary-font:'Inter', sans-serif;
    --secondary-font:'Lusitana', serif;
}
*
{
    margin:0;
    padding:0;
}
body
{
    background-color: var(--bg-color);
    box-sizing: border-box;
    color:var(--text-color);
}
.presentation, .about
{
    display: flex;
    gap:5rem;
    border-bottom: 1px solid var(--description-color);
    padding: 1.5rem 30vw 1.5rem 30vw;
    align-items: center; 
}
.presentation__container
{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    

}
.presentation__title
{
    font-family: var(--primary-font);
    font-size: 2.5rem;
}
.presentation__text
{
    text-align: justify;
    font-family: var(--primary-font);
}
.container__image
{
    align-self: center;
    border: 3px solid var(--description-bg-color);
    border-radius: 1rem;
}
.about__container
{
    border: 2px solid var(--description-bg-color);
    border-radius: 1rem;
    padding: 3rem;
}
.about__title
{
    font-family: var(--primary-font);
    font-size: 2.5rem;
}
