@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lusitana&display=swap');
:root
{
    --bg-color:black;
    --text-color:white;
    --link-color:blue;
    --description-color:rgb(100, 100, 100);
    --description-bg-color:rgb(50, 50, 50);
    --section-bg-color:rgb(25, 25, 25);
    --primary-font:'Inter', sans-serif;
    --secondary-font:'Lusitana', serif;
    --title-font-size: 2.5rem;
    --text-font-size: 1rem;
    --subTitle-font-size: 1.5rem;
    font-family: var(--secondary-font);
}
*
{
    margin:0;
    padding:0;
}
body
{
    background-color: var(--bg-color);
    box-sizing: border-box;
    color:var(--text-color);
}
.presentation,.skills
{
    display: flex;
    gap:5rem;
    border-bottom: 1px solid var(--description-color);
    padding: 1.5rem 30vw 1.5rem 30vw;
    align-items: center;
    justify-content: center; 
}
.presentation__container,.skills__container
{
    display:flex;
    flex-direction: column;
    gap: 2rem;
}
.presentation__title,.about__title,.skills__title,.contact__title
{
    font-family: var(--primary-font);
    font-size: var(--title-font-size);
}
.presentation__text,.item__text,.skills__list
{
    text-align: justify;
    font-family: var(--primary-font);
    font-size: var(--text-font-size);
    
}
.container__image
{
    align-self: center;
    border: 3px solid var(--description-color);
    border-radius: 1rem;
}
.about
{
    display: flex;
    gap:5rem;
    border-bottom: 1px solid var(--description-color);
    padding: 1.5rem 25vw 1.5rem 25vw;
    align-items: center;
    justify-content: center;
    background-color: var(--section-bg-color);
}
.about__container
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--bg-color);
    border: 2px solid var(--description-color);
    border-radius: 1rem;
    padding: 3rem;
    text-align: center;
    
}
.about__sections,.skills__lists
{
    display:flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    
}
.about__item
{
    background-color: var(--description-bg-color);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap:1rem;
    padding: 1rem;
    text-align: center;
    width: 40%;
    height: 10rem; 
}
.item__title
{
   font-family: var(--primary-font); 
   font-size: var(--text-font-size);
}
.skills__list
{
    display: flex;
    flex-direction: column;
    padding:1rem;
    gap:1rem;
}
.list__title
{
    font-size: var(--subTitle-font-size);
}
.list__container
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.contact__container
{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 3rem;
    justify-content: center;
    text-align: center;
}
.contact__content
{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}
.contact__email,.contact__social,.social__linkContainer
{
    display: flex;
    gap: 1rem;
    flex-direction: column;
}
.email__title,.social__text
{
    font-family: var(--primary-font);
    font-size: var(--subTitle-font-size);
}
.contact
{
    background-color: var(--section-bg-color);
}
.info
{
    border: 2px solid var(--description-bg-color);
    padding: 1rem;
    text-align: center;
}



